.promo-title {
  font-size: $promo-title-size;
  line-height: $promo-title-heigh;
  font-weight: $secondary-text-weight;
  color: $primary-light-color;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 110px;
  display: block;
}