.promo-subtitle {
  font-size: $promo-subtitle-size;
  line-height: $promo-subtitle-heigh;
  font-weight: $primary-text-weight;
  color: $primary-light-color;
  font-family: $total-text-font;
  display: block;
  text-transform: none;
  padding-bottom: 24px;
  text-align: center; 
}