.section__title {
  font-size: $section-title-size;
  line-height: $section-title-heigh;
  font-weight: $secondary-text-weight;
  color: $primary-dark-color;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  &::after {
    background: $primary-accent-color;
    content: '';
    display: block;
    height: 3px;
    width: 60px;
    margin: 38px auto 56px;
  }
}