.services__title {
  font-size: $primary-text-size;
  line-height: $primary-text-height;
  font-weight: $primary-text-weight;
  color: $primary-dark-color;
  text-transform: uppercase;
  margin-bottom: 14px;
}