.team__card-name {
  font-size: $primary-text-size;
  line-height: $primary-text-height;
  font-weight: $primary-text-weight;
  color: $primary-dark-color;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 10px;
}
