.team__card-occupation {
  font-size: $secondary-text-size;
  line-height: $secondary-text-height;
  font-weight: $total-text-weight;
  font-family: $secondary-text-font;
  color: $secondary-dark-color;
  font-style: italic;
  text-align: center;
}