.team__description {
  font-size: $secondary-text-size;
  line-height: $secondary-text-height;
  font-weight: $primary-text-weight;
  font-family: $secondary-text-font;
  color: $secondary-dark-color;
  text-align: center;
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
}